@import "./reset.css";

:root {
    /*greyscale*/
    --app-dark-bg:#131313;
    --app-light-bg:#e0e0e0;
    --app-dark-grey-bg:#2c2d33;
    --app-light-grey:#adadb0;
    --app-white:#f1f2f3;
    --app-black:#0b0b0b;
    --app-light-text-color: #f4f6f8;
    --app-dark-text-color: #1c1c1c;
    --app-grey-text-color: #343434;
    
    /*colors*/
    --app-rich-black:#0a192f;
    --app-midnight-green:#124559;
    --app-theme-green: #04c2c9;
    --app-airforce-blue:#598392;
    --app-dark-ash: #3C415C;
    --app-ash-grey:#AEC3B0;
    --app-ash-grey-med:#9bac9c;
    --app-ash-grey-light:rgb(174, 195, 176, 0.5);
    --app-beige:#EFF6E0;
    --app-dark-beige: #B4A5A5;
    --app-melon: #9f5264;
    --app-melon-tint: rgb(159, 82, 100);
    --app-melon-light: rgba(159, 82, 100, 0.1);
    --app-light-purple-tint : rgb(207, 77, 206, 0.4);
    --app-dark-purple-tint : rgba(207, 77, 207, 0.582);
    --app-light-purple : #FF10F0;
    --app-medium-purple : #2f1338;
    --app-dark-purple : #0e0715;
    --app-purple : #1b0c25;

    /* Curabit Color Palette */
    --app-cur-light-blue: #53b7ea;
    --app-cur-med-blue: #367ab9;
    --app-cur-dark-blue: #3a589a;
    --app-cur-med-grey: #58677b;
    --app-cur-dark-grey: #2e3e53;
    
    --app-dark-navy: #020c1b;
    --app-navy: #0a192f;
    --app-light-navy: #112240;
    --app-lightest-navy: #233554;
    --app-navy-shadow: rgba(2,12,27,0.8);
    --app-dark-slate: #495670;
    --app-slate: #8892b0;
    --app-light-slate: #a8b2d1;
    --app-lightest-slate: #ccd6f6;
    
    --app-pink:#E53F71;
    --app-orange: #F89F5B;
    --app-green: #18bfa1;
    --app-blue: #33c0df;
    --app-green-tint: rgba(100,255,218,0.1);

    /*font-settings*/
    --app-p-font-xxlarge: 24px;
    --app-p-font-xlarge: 20px;
    --app-p-font-large: 16px;
    --app-p-font-regular: 14px;
    --app-p-font-small: 12px;
    --app-p-font-xsmall: 10px;
    --app-p-font-xxsmall: 8px;
    
    --app-mono-font: 'Fira Code', monospace;
    
    --app-h1: 55px;
    --app-h2: 45px;
    --app-h3: 35px;
    --app-h4: 25px;
    --app-h5: 15px;
    --app-letter-spacing: 0.2px;
    --app-header-height: 70px;
    --app-footer-height: 56px;
    --app-header-line-height: 70px;
    --app-text-line-height: 50px;
    
    /*transitions and settings*/
    --app-transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --app-btn-padding: 8px 15px;
    --app-border-radius: 4px;
    --app-letter-spacing: 0.2px;
    --app-main-transition: all 0.4s ease-in-out;
}

body {
    background-color: var(--app-ash-grey);
}

.container {
    width: min(100% - 10vw, 1280px);
    margin-inline: auto;
    min-width: 470px;
}

header {
    width: 100%;
    height: var(--app-header-height);
    background-color: var(--app-white);
    display: grid;
    align-items: center;
    min-width: 470px;
}

main {
    background: transparent url("../images/capture.jpg") center center / cover no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}

/* overlay */
main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--app-navy-shadow);
    z-index: 0;
}

.banner-container {
    position: relative;
    z-index: 1;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
}

.gallery-container {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 40px 0px;
}

footer {
    z-index: 1;
    width: 100%;
    height: var(--app-header-height);
    background-color: var(--app-cur-med-grey);
    display: grid;
    align-items: center;
}

.flexbox {
    display: flex;
}