@charset "UTF-8";
@import "./reset.css";

:root {
    --app-dark-bg:#1a1d28;
    --app-medium-bg:#282b38;
    --app-blue-bg:#24346d;
    --app-light-bg:#e0e0e0;
    --app-white:rgb(244, 246, 248);
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    --app-blue-bg-color: #146ebe;
    --app-btn-height: 36px;
    --app-btn-width: 56px;
    --app-light-text-color: #f4f6f8;
    --app-dark-text-color: #1c1c1c;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

p {
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.title {
    font-size: 2.5rem;
    color: var(--app-white);
}

main {
    height: 100vh;
}

section {
    padding: 20px 0px 20px 0px;
}

header {
    width: 100%;
    background-color: var(--app-medium-bg);
    height: 56px;
    line-height: 56px;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

button {
    height: var(--app-btn-height);
    width: 120px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
    color: var(--app-white);
    cursor: pointer;
    margin-top: 10px;
    /* margin-top: calc((56px - 36px) / 2); */
}

button.red {
    background-color: var(--app-red);
    border: 1px solid var(--app-red);
}

button.green {
    border: 1px solid var(--app-green);
    background-color: var(--app-green);
}

button:hover {
    background-color: var(--app-blue-hover);
}

.grid {
    margin-top: 60px;
    display:grid;
    gap: 20px;
}

.user {
    text-align: center;
}

.lg-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}